:root {
    --pink: rgb(228, 159, 228);
    --green: rgb(106, 192, 106);
    --width: 200px;
    --height: 200px;
    --radius: 100px;
}

body {
    background-color: var(--pink);
}

.ball {
    width: var(--width);
    height: var(--height);
    background-color: var(--green);
    border-radius: var(--radius);
}