.calculator {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr;
    width: 400px;
    height: 25vw;
}

.calculator>div {
    border: 1px solid rgb(78, 78, 78);
    padding: 20px;
    font-size: 30px;
}

.item-screen {
    grid-column: 1 / 5;
    background-color: rgb(69, 69, 70);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: right;
}

.operators {
    background-color: rgb(187, 188, 189);
    text-align: center;
}

#item-equal-sign {
    background-color: rgb(243, 131, 131);
    grid-area: 3 / 4 / 7 / 5;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#item0 {
    border-bottom-left-radius: 10px;
}

.number {
    background-color: rgb(247, 247, 247);
    text-align: center;
}