body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

section {
    height: 80vh;
    justify-content: space-around;
}

#blue {
    order: 1;
    flex: 1 1;
}

#orange {
    order: 1;
    flex: 2 1;
}

#green {
    order: 1;
}